<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'Movies', movies_path(@movies) %>
<%= link_to 'Series', series_index_path(@series) %>
<%= link_to 'Series', tv_shows_path(@tv_shows) %>